/**********************************************************/
/*          Style sheet for Black Mirros web site         */
/*          author: Antonio Cordero Molina                */
/*          version: 1.0                                  */
/*          comments: class project 2023-24               */
/*                     MOBILE FIRST                       */
/**********************************************************/

/* cuando quiero usar una tipografía y asegurarme de que se verá corerctamente, 
suministro también con la página el archivo de la fuente que será .ttf o .otf */
/* 1.- ahora en el archivo descargado */
/* 2.- utilizar el nombre de la font-family donde quiera usarlo */

@font-face {        /* esto no es un selector, es un enlace */
    font-family: textonormal;
    src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: blackmirror;
    src: url(../font/FontsFree-Net-Proxima-Nova-Bold.otf);
}

* {box-sizing: border-box;}  /* con maquetación compleja siempre se incluye*/

    body {
        background-color: #ccc;
        margin:0;  /* para descativar el margen de separación por defecto */
        padding:0;
        font-family: textonormal;
    }   

    #wrapper {
        background-color: #808080;
        width:100%;   /* ancho fijado al 100% porque es MOBILE FIRST */
        margin: auto  /* centrado automático */
    }

/****************************** HERO SECTION **********************************/

    #hero {
        background-image: url(../img/heromobil.webp);
        height: 95vh; /*el 100% del alto de la ventana del navegador*/
        background-size: cover;
        background-position: center;  
        position: relative;     /** contenedor relativo **/
    }

    #hero button {
        background-color: #808080;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        position: absolute;     /** contenedor absoluto **/
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) ;   /* lo translado a la mitad de su tamaño en horizontal y vertical */
    }


/****************************** INTRO SECTION (GRID-2) ************************/

.grid-2 {
    display: grid;
    grid-template-columns: 100%;
}

.col-2 {
    padding: 4%;
}

#introimg {
    width: 80%;
    display: block;
    margin: auto;
}

/******************************* FOOTER ***************************************/

footer {
    background-color: black;
}

.grid-3d {
    display: grid;
    grid-template-columns: 50% 50%;
}

.col-4 {
    padding: 4%;
}

/******************************* RESPONSIVE ***********************************/

@media only screen and (width>650px) {
    #hero {
        background-image: url(../img/black-mirror-serie.jpg);
    }
    #wrapper {
        width: 80%;
    }
}

@media only screen and (width>900px) {
    .grid-2 {
        grid-template-columns: 50% 50%;
    }
    .grid-3d {
        display: grid;
        grid-template-columns: 25% 25% 50%;
    }
}
